<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% if title %}{{ title }} | {% endif %}Simple Blog</title>
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | url }}">
  <script src="{{ '/assets/js/main.js' | url }}"></script>
</head>
<body>

  {% include "header.njk" %}

  {{ content | safe }}

  {% include "footer.njk" %}

</body>
</html>
