---
layout: base.njk
---

<main class="container main single-post">
  <article>
    <h1>{{ title }}</h1>

    <div class="content">
      {{ content | safe }}
    </div>

    <p><a href="#top" class="back-to-top">Back to top</a></p>
  </article>
</main>
